<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>    
    	<RollingFile name="RollingFile" 
    		fileName="/var/log/plaatmicro.log" 
    		filePattern="/var/log/plaatmicro-%i.log" ignoreExceptions="false">
        	<PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
        	<Policies>
        		<SizeBasedTriggeringPolicy size="10 MB" />
        	</Policies>
        	<DefaultRolloverStrategy max="30" />
    	</RollingFile>
        
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    
    <Loggers>
    
    	<AsyncLogger name="nl.plaatsoft" level="DEBUG"/>
    	<AsyncLogger name="org.hibernate" level="OFF"/>
  	
        <AsyncRoot level="ERROR">
        	<AppenderRef ref="RollingFile"/>
            <!--  AppenderRef ref="Console"/-->
        </AsyncRoot>
    </Loggers>
</Configuration>